<script>
  function mafonction()
  {
    var obj = document.getElementById("name");
    var obj1 = document.getElementById("surname");
    window.location="#/userss/" + obj.value + '&' + obj1.value + "&new";
  }

  function mafonction1()
  {
    var obj = document.getElementById("namee");
    window.location="#/userssss/" + obj.value + "&seek";
  }

</script>
<div>
  <form>
    <fieldset>
      <legend>New users:</legend>
      Name:<br>
      <input type="text" name="name" id="name">
      <br>
      Surname:<br>
      <input type="text" name="id" id="surname">
      <br><br>
      <a href="javascript:mafonction()">Submit</a></fieldset>
    <br><br>
  </form>
  <form>
    Find User:<br><br>
      <input type="text" name="name" id="namee">
      <br><br>
      <a href="javascript:mafonction1()">Find</a>
  </form>
  <br>
  <h3>List of users:</h3>
  <ul>
    <li ng-repeat="user in users"><a href="/#/users/{{user.id}}&see"> {{user.name}}, {{user.surname}}</a></li>
  </ul>
</div>
